body {
  background: rgb(209, 209, 209);
}
.App {
  text-align: center;
}

.index {
  margin-top: 30px;
  font-size: 24px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  max-width: 612px;
}

.cell {
  width: 200px;
  height: 170px;
  border: 2px solid black;
  font-size: 100px;
  padding-top: 30px;
  text-transform: uppercase;
}

.cell:hover {
  background-color: rgb(175, 175, 175);
  transition: .3s all ease;
}

.reset {
  color: white;
  outline: none;
  width: 100px;
  height: 50px;
  background-color: rgb(80, 80, 80);
}